
.logo{
    text-align: center;
}

.welcome{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size:400%;
    color: antiquewhite;

}
.delani{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size:250%;
    color: antiquewhite;
}
.one{
    background-image: url(images/shoe.jpg);
    width: 1500px;
    height: 110vh;
    text-align: center;
    margin-left: -20vh;
}

.services{
    text-align: center;
    font-size: 130%;
    background-image: url(/images/tracy/s_image.jpg);
    height: 75vh;
    width: 1375px;
}
#design{
    text-align: center;
    
}
#development{
    text-align: center;
}
#product{
    text-align: center;
}

